*,h1,h2,h3,h4,h5,h6,a,p,nav,ul{
    padding: 0;
    margin: 0;
}
html,
body {
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
	max-width: 2560px;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
img{
	width: 100%;
}
.container {
    max-width: calc(1140px + 20px);
    margin-right: auto;
    margin-left: auto;
}
nav.navbar {
    padding: 10px 0 50px 0;
}
a.navbar-brand img{
    max-width: 60px;
    max-height: 44px;
}
.navbar-light .navbar-brand {
    margin-right: 0;
}
.head_wrapper{
    border-top: 8px solid #41B9B4;
}
.head_wrapper .container{
    max-width: 1440px;
}   
span.text{
    color: #273238;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 25px;
    text-align: left;
}
h4.title{
    color: #273238;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 27.65px;
    text-align: center;
}
.title_wrapper h4.title{
    padding-bottom: 50px;
    margin: 0 auto;
}
.terms_container{
    max-width: 853px;
    margin: 0 auto;
}
.terms_wrapper{
    float: left;
    width: 100%;
}
.terms_menu_wrap{
    margin-bottom:39px;
}
.scroll_box_wrapper{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.scroll_box_wrapper .box_content ul {
    list-style-type: decimal;
}
.scroll_box_wrapper .inner_list ul li{
    color: #273238;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 25px;
    margin-bottom: 23px;
    padding-left: 10px;
}
.scroll_box_wrapper .box_content {
    background-color: #F6F6F6;
    border: 1px solid #979797;
    border-radius: 4px;
    width: 853px;
    height: 285px;
    padding:35px 62px 23px 46px;
    overflow: scroll;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 12px;
    height: 0;
}    
::-webkit-scrollbar-track {
    background-color:#F6F6F6 ;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #D8D8D8;  
}
.bottom_wrapper .text_wrap{
    max-width: 853px;
    margin: 0 auto;
}
.text_wrap .text_box{
    margin-bottom: 16px;
}
.text_box span{ 
    color: #B9BBBB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 21px;
    max-width: 853px;
    text-align: left; 
    margin: 0 auto;
}
.bottom_wrapper {
    width: 100%;
    float: left;
}
a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
    line-height: 17.6px;
    text-align: center;
}
.btn-white{
    color: #FF6161;
    background-color: #FFFFFF;
    border: 1px solid #E5E6E6;
    border-radius: 4px;
    padding: 5px 26px;
    margin-right: 8px;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #3B9BE4;
    border-radius: 4px;
    padding: 6px 45px;
    border: 0;
    outline: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
	background-color: #3B9BE4;
	border-color: #3B9BE4;
	box-shadow: 1px 1px 10px 0 rgb(118, 194, 252);
	transition: 0.3s all ease-in-out;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active{
	background-color: #FFFFFF;
    border-color: #3B9BE4;
    color: #FF6161;
	box-shadow: 1px 1px 5px 0 rgb(209, 212, 212);
	transition: 0.3s all ease-in-out;
}
h4.modal-title{
    color: #273238;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.65px;
    letter-spacing: -0.3px;
    text-align: center;
}
.modal-header{
    text-align: center;
    justify-content: center;
    border: none;
    padding:64px 30px 28px ;
}
 .modal-content{
     position: relative;
    max-width: 480px;
    max-height: 228px;
    background-color: #FFFFFF;
    border-radius: 9px;
    float: right;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.18);
 }
.modal-footer{
     border: none;
     justify-content: center;
     padding-bottom: 58px;
 }
 .modal.show{
     padding-right: 0;
 }
.text_wrap .button_wrapper{
    text-align: right;
    margin-bottom: 76px;
 }
 .modal.show .modal-dialog {
    justify-content: center;
}

 
@media(min-width: 768px) and (max-width: 1024px){
    nav.navbar {
        padding: 10px 0 38px 0;
    }
    .head_wrapper{
        border-top: 6px solid #41B9B4;
    }  
    .terms_container {
        max-width: 80%;
    }
    span.text{
        font-size: 15px;
        line-height: 24px;
    }
    h4.title{
        font-size: 20px;
        line-height: 25x;
        text-align: center;
    }
    .terms_menu_wrap{
        margin-bottom: 30px;
    }
    .title_wrapper h4.title{
        padding-bottom: 30px;
    }
    .bottom_wrapper .title_text{
        margin-bottom: 16px;
    }
    .bottom_wrapper .text_box {
        margin-bottom: 14px;
    }
    .scroll_box_wrapper .box_content {
        padding: 30px 50px 10px 32px;
        width:82%;
        height:260px;
    }
    .scroll_box_wrapper .inner_list ul li {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
        padding-left: 18px;
    }
    .text_box span {
        font-size: 15px;
        line-height:20px;
        text-align: center;
    }
    .bottom_wrapper .text_wrap {
        max-width: 82%;
    }
    .text_wrap .button_wrapper {
        margin-bottom: 60px;
    }
    .modal-content {
        max-width: 430px;
        max-height: 200px;
    }
    .modal-header {
        padding: 50px 24px 20px;
    }
    .modal-footer {
        padding-bottom: 50px;
    }
    h4.modal-title {
        font-size: 21px;
        line-height: 26px;
    }
    
 }
 @media (max-width: 767px){
    nav.navbar {
        padding: 10px 0 18px 0;
    }
    .head_wrapper{
        border-top: 6px solid #41B9B4;
    }
    span.text{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.4px;
    }
    h4.title{
        font-size: 18px;
        line-height: 24px;
    }
    .title_wrapper h4.title{
        padding-bottom: 20px;
    }
    .bottom_wrapper .title_text{
        margin-bottom: 10px;
    }
    .terms_container {
        max-width: 92%;
    }
    .text_box span{ 
        max-width: 90%;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .bottom_wrapper .text_box {
        margin-bottom: 10px;
    }
    .scroll_box_wrapper .box_content {
        padding:18px 10px 10px 20px;
        width: 100%;
    }
    .scroll_box_wrapper .inner_list ul li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        padding-left: 6px;
    }
    .terms_menu_wrap {
        margin-bottom: 10px;
    }
    .text_wrap .button_wrapper {    
        margin-bottom: 40px;
    }
    .modal-header {
        padding: 20px 10px 10px;
    }
    .modal-footer {
        padding-bottom: 24px;
    }
    h4.modal-title {
        font-size: 18px;
        line-height: 24px;
    }
    .bottom_wrapper .text_wrap {
        width: 94%;
    }
    .modal-content {
        max-width: 86%;
        max-height: 80%;
    }
    .modal-footer .btn-white {
        padding: 5px 14px;
    }
    .modal-footer .btn-primary {
        padding: 6px 32px;
    }
    a.navbar-brand img {
        max-width: 50px;
        max-height: 30px
    }
}



